{% extends "foundation/base.html" %}
{% load url from future %}
{% block base_body %}

<div class="row">
    <div class="panel">
        <h4><a href="{% url 'DB:home' %}">Home:</a> {{sample}}</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
    <table>
        <thead>
            <tr>
                <th width="200"><a href="?order=name">Piece Name</a></th>
                <th width="150"><a href="?order=design__name">Design</a></th>
                <th width="150"><a href="?order=date_created">Date Created</a></th>
                <th>Lost</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if pieces %}
            {% for piece in pieces %}
            <tr>
                <td><a href="{%url 'DB:piece' sample.name piece.name%}">{{piece.name}}</a></td>
                <td><span data-tooltip class="has-tip" title="{{piece.design.notes}}">{{piece.design.name}}</span></td>
                <td>{{sample.date_created|date:"F j, Y"}}</td>
                <td>{% if piece.lost %}Yes{% else %}No{% endif %}</td>
                <td></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>No Pieces</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
            <tr>
                <form action="{% url 'DB:sample' sample.name %}" method="post">{% csrf_token %}
                    <td>{{form.name}}</td>
                    <td>{{form.design}}</td>
                    <td>Now</td>
                    <td>No</td>
                    <td><input type="submit" value="Submit" /></td>
                </form>
            </tr>
        </tbody>
    </table>
    </div>
</div>
</body>

{% endblock base_body %}