{% extends "sample_database/base.html" %}

{% block title_block %}
<a href="{% url 'DB:home' %}">Home:</a> <a href="{% url 'DB:design_item' %}">Design Items:</a> Details of Design Item "{{design_item_name}}"
{% endblock title_block %}

{% block details %}
<div class="row">
    <div class="small-8 columns">
	    <form action="{% url 'DB:design_item_detail' design_item_id %}" method="POST">{% csrf_token %}
            {{form}}
            <input type="submit" name="new" value="New Attachment"/>
        </form>
    </div>
    <p><br /></p>
</div>
</body>
    
{% endblock details %}
