{% extends "sample_database/init.html" %}

{% block css %}
{{ block.super }}
<style>
	#id_design_items {
		min-height: 300px;
	}
</style>
{% endblock css %}

{% block title_block %}
<a href="{% url 'DB:home' %}">Home: </a>
{% if not obj %}
Error with {{caller}}
{% else %}
{{caller }} {{type}} "{{obj}}"
{% endif %}
{% endblock title_block %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        {{prompt}}
    </div>
</div>
<br><br>
<div class="row">
    <div class="small-12 columns">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% for field in edit_form %}
	    <b>{{field.help_text}}</b>
	    {{field.label_tag}} {{field}}
	    {{field.errors}}<br />
        {% endfor %}
            <input type="submit" value="Confirm" />
        </form>
    </div>
</div>
{% endblock content %}
