{% extends "sample_database/init.html" %}

{% block title_block %}
<a href="{% url 'DB:home' %}">Home: </a>
{% if not obj %}
Error with {{caller}}
{% else %}
{{caller }} {{type}} "{{obj}}"
{% endif %}
{% endblock title_block %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        {{prompt}}
    </div>
    {% if caller == "Edit" and obj_fields|length %}
    <div class="small-12 columns">
        <br><br>
        Field Names:
        <ul>
            {% for field in obj_fields %}
            <li>{{field}}</li>
            {% empty %}
            <li>No fields</li>
            {% endfor %}
        </ul>
        If there are fields, simply separate by newline in "Fields."  If a field is to be empty, make sure it still has its own line!
    </div>
    {% endif %}
</div>
<br><br>
<div class="row">
    <div class="small-12 columns">
        <form method="post">{% csrf_token %}
        {% for field in edit_form %}
            {{field.errors}}
            {{field.label_tag}}{{ field }}<br>
        {% endfor %}
            <input type="submit" value="Confirm" />
        </form>
    </div>
</div>
{% endblock content %}
