{% extends "sample_database/init.html" %}

{% block title_block %}
    <a href="{% url 'DB:home' %}">Home: </a>
    <a href="{% url 'DB:sample' sample.name %}">{{sample.name}}: </a>
    New Piece
{% endblock title_block %}

{% block content %}
<form action="{% url 'DB:new_piece' sample.name %}" method="POST">{% csrf_token %}
    <div class="row">
        <div class="small-5 columns">
            <tr><th>Name:</th><td>{{form.name}}</td></tr>
            <tr><th>Design:</th><td>{{form.design}}</td></tr>
        </div>
        <div class="small-3 columns">
            <tr><th>Parent (if broken):</th><td>{{form.parent}}</td></tr>
        </div>
        <div class="small-4 columns"></div>
    </div>
    <div class="row">
        <div class="small-8 columns">
            <tr><th>Notes:</th><td>{{form.notes}}</td></tr>
            <tr><input type="submit" value="Submit"/></tr>
        </div>
        <div class="small-4 columns"></div>
    </div>
</form>

<p></p>
{% endblock content %}
